@page "/"

<PageTitle>Sign-up</PageTitle>

<div class="container">
        <div class="text-center my-5">
            <h2>Welcome!</h2>
            <CheckBox Id="darkModeCheckBox" OnChange="OnChange" @bind-Checked="@DarkModeValue" CheckMode="CheckMode.Both">Dark Mode</CheckBox>
        </div>
        <div class="text-center my-5">
            <h4>Register:</h4>
        </div>
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card shadow-5">
                    <div class="card-body">
                        <Form @ref="@form">
                            <FormControl ControlType="FormControlControlType.Input" DataField="firstName" Label="First Name" ValidationRules="@firstNameRules"></FormControl>
                            <FormControl ControlType="FormControlControlType.Input" DataField="email" Label="Email" ValidationRules="@emailRules"></FormControl>  
                            <FormControl ControlType="FormControlControlType.Input" DataField="phone" Label="Phone" ValidationRules="@phoneRules"></FormControl>
                            <FormControl ControlType="FormControlControlType.Input" DataField="country" Label="Country Code" ValidationRules="@countryRules"></FormControl>
                            <FormControl ControlType="FormControlControlType.Button" DataField="submit" Label="Submit"></FormControl>
                        </Form>
                   </div>
                </div>
            </div>
        </div>
    </div>

@code{
    @inject IJSRuntime JS
    Form form;
    CheckBox darkModeCheckBox;
    bool DarkModeValue = true;
    private void OnChange(Event ev){
        //Smart UI Components contain a built-in dark theme.
        //It can be automatically toggled when the body has attribute 'theme' = 'dark'
        //The easiest way to change the attribute of the body tag is with a JS function
        //The JS function is contained inside _Host.cshtml
        JS.InvokeVoidAsync("toggleDarkMode");
    }
  dynamic[] firstNameRules = new dynamic[]{
      new{type="required", message="First Name is mandatory"}
  };
  dynamic[] emailRules = new dynamic[]{
      new{type="required", message="Email is mandatory"},
      new{type="email", message="Must be a valid email"}
  };
  dynamic[] phoneRules = new dynamic[]{
      new{type="phone", message="Not a valid phone number"},
      new{type="required", message="Phone is mandatory"}
  };
  dynamic[] countryRules = new dynamic[]{
      new{type="stringLength", min=2, max=3, message="Must be a valid country code"},
      new{type="required", message="Country is mandatory"},
  };
}